<div class="custom-box">
    <div class="card">
        <div class="card-header" *ngIf="headerTemplate">
            <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
        </div>
        <div class="image-box" *ngIf="imageTemplate">
            <div class="image-container">
                <ng-container *ngTemplateOutlet="imageTemplate"></ng-container>
            </div>
        </div>
        <div class="card-body">
            <ng-container *ngTemplateOutlet="descriptionTemplate"></ng-container>
        </div>
    </div>
</div>