    .column {
        float: left;
        padding: 10px;
    }
    /* Clear floats after the columns */
    
    .row:after {
        content: "";
        display: table;
    }
    
    .order-no {
        width: 100%;
        text-align: center;
        color: white;
        margin-bottom: 0;
    }
    
    .icons {
        float: right;
        margin-left: 5px;
    }