<div>
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary nav-bar fixed-top">
            <a class="navbar-brand">
                <img src="assets/angular.png" class="brand-image">
                <span class="brand-title">Customers Manager</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse " id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto tabs ">
                    <li class="nav-item" *ngFor="let navTab of homeNavigationTabs" [ngClass]="{'active': defaultTab===navTab.tabName}">
                        <a class="nav-link nav-link-content" (click)="tabClicked(navTab)">{{navTab.tabName}}</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
    </div>
    <div class="content">
        <ng-container *ngFor="let item of mockData">
            <p (click)="itemClicked()">{{item}}</p>
        </ng-container>
    </div>
</div>