    /* .parent {
        height: 100%;
        position: absolute;
    } */
    
    .column {
        float: left;
        padding: 10px;
    }
    /* Clear floats after the columns */
    
    .row:after {
        content: "";
        display: table;
    }