.footer {
  flex: 1;
}

.create-account {
  margin: 0 auto
}

.create-account span {
  font-size: 18px
}

.create-acc-arrow {
  padding: 4px;
}

.login-btn {
  width: 100%
}

.login-page {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 5%;
  background-color: #5b8b9eb0;
  background: linear-gradient( to right, #5b8b9eb0, lightblue);
  display: flex;
  align-items: center;
  justify-content: center
}

.login-form-container {
  display: flex;
  width: 80%;
  height: 100%;
  position: relative;
  border-radius: 4px;
  flex-direction: row;
}

.login-content-container {
  flex: 1;
  display: flex;
  padding: 2%
}

.form-container {
  flex-direction: column;
}

.login-container {
  display: flex;
  flex-direction: column;
  width: 80%;
  flex-basis: 40%;
  margin: auto
}

.header {
  flex: 1;
  text-align: center;
}

.header-text {
  font-size: 1.5em;
  font-weight: 700;
  font-family: sans-serif;
}

.image-holder {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 50%;
  height: 50%;
  margin: auto
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.inner-addon {
  position: relative;
  flex: 1
}

.inner-addon input {
  padding-left: 30px
}

.left-addon {
  left: 0;
  position: absolute;
  padding: 8px 10px 8px 10px;
  pointer-events: none
}

.right-addon .glyphicon {
  right: 0px
}

.particle-background {
  position: fixed;
  flex: 1;
  height: 100%;
  z-index: -1;
  width: 100%;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-between;
}