<div>
    <div>
        <ul class="nav nav-tabs">
            <li class="nav-item" *ngFor="let tabItem of tabsList">
                <a class="nav-link" [routerLink]="tabItem.navigateTo" routerLinkActive="active">
                    <fa-icon [icon]="tabItem.tabIcon" class="tab-icon"></fa-icon>
                    <span>{{tabItem.tabName}}</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="container">
        <ng-content select=".tab-set-body"></ng-content>
    </div>
</div>